{% include 'views/detail.twig' %}

  <form method="post" action="{{ submitUri|raw }}">
    {% verbatim %}{{ csrf_field() }}{% endverbatim %}
    <input type="submit" value="{{ type|capitalize }}">
    <a href="{{ backUri|raw }}">Cancel</a>
  </form>
